@media screen and (max-width: 700px) {
	.prepCardContainer {
		/* margin: -50px; */
		overflow-x: auto;
		overflow-y: hidden;
		flex-direction: column;
		height: 30rem;
		padding: 10px;
		margin-bottom: 10px;
	}
}
