.collapsedNavBar {
	display: none;
}

.link {
	text-decoration: none;
}

/* .link:hover{
	
} */

@media screen and (max-width: 610px) {
	.navContainer {
		line-height: normal;
	}

	.navBar {
		display: none;
	}
	.collapsedNavBar {
		display: unset;
	}
}
