.logoText {
	font-family: 'Charm', cursive;
	display: flex;
	align-items: center;
	gap: 20px;
	text-decoration: none;
}

.collapsedNavBar {
	display: none;
}

.link {
	text-decoration: none;
}

.linkListContainer {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: 'center';
}

@media screen and (max-width: 720px) {
	.navContainer {
		line-height: normal;
	}

	.navBar {
		display: none;
	}
	.collapsedNavBar {
		display: unset;
	}
}
